/* @import url(./box.css); */

.box {
  width: 100px;
  height: 100px;
  background-color: orange;
  /* transition: 1s; */
}
.box::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: royalblue;
}
/* .box:focus {
  width: 300px;
  background-color: royalblue;
}
input {

}
input:focus {
  background-color: orange;
} */